.back-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  padding: 0;

  border: none;
  background: transparent;

  color: #704500;

  cursor: pointer;
}
