.back-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  padding: 0;

  border: none;
  background: transparent;

  color: #704500;

  cursor: pointer;
}

.back-btn-img {
  width: 11px;
  height: 22px;
}
