.intro-page {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 393px;
  max-width: 393px;
  height: 852px;

  margin: 0 auto;

  overflow: hidden;
  box-sizing: border-box;

  background-color: #f3eadf;
}

.intro-video {
  display: block;

  width: 80%;
  max-width: 340px;
  max-height: 70%;

  object-fit: contain;
}
